// Add styles for the footer there

.buttonSmall {
  display: inline-block;
  background: rgba(0,0,0, 0.06);
  border-radius: var(--magicNumber);
  padding: 8px 12px;
  white-space: nowrap;
  &:hover {
    background: rgba(0,0,0, 0.3);
    cursor: pointer;
  }
}

.active {
  box-shadow: inset 0 0 0 2px currentColor;
}

@media (max-width: 600px) {
  .buttonSmall {
    min-height: 40px;
    padding: 9px 11px;
    font-size: 0.86rem;
  }
}
