// Add styles for the footer there

.buttonSmall {
  background: rgba(0,0,0, 0.06);
  border-radius: var(--magicNumber);
  padding: 8px 12px;
  &:hover {
    background: rgba(0,0,0, 0.3);
    cursor: pointer;
  }
}
