// add all classes for the Get Involved page in CSS
.container {
  padding: 0 2rem;
}
.main {
  min-height: calc(100vh - var(--magicNumber));
  padding: calc(var(--magicNumber) / 2);
  margin: calc(var(--magicNumber) / 2);
  border-radius: var(--borderRadius);
  min-height: calc(100vh - var(--magicNumber));
  padding: calc(var(--magicNumber) / 2);
  margin: calc(var(--magicNumber) / 2);
  border-radius: var(--borderRadius);
  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--c-creme);
}

.description {
  margin: 4rem 0;
  line-height: 1.75;
  font-size: 1.2rem;
}

.code {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.rowInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: calc(var(--magicNumber) / 2);
}

.rowData {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--magicNumber);
  color: #000000;
  nav span {
    margin-right: calc(var(--magicNumber) / 6);
  }
}

.columnInfo,
.columnTitle {
  width: 50%;
}

.columnInfo {
  margin-left: calc(var(--magicNumber) / 2);
}

// Typography

.title,
.numbersBig {
  font-family: "Six Caps", sans-serif;
  font-size: clamp(48px, calc(48px + 8vw), 130px);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  color: #000000;
}

.numbersTag {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: calc(var(--magicNumber) / 10);
  color: #000000;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  max-width: calc(var(--magicNumber) * 10);
}

.header_paragraph{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: calc(var(--magicNumber) * 10);
}

.header_sub{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  max-width: calc(var(--magicNumber) * 10);
}

// Dataviz Components

.dataGrid {
  display: flex;
  // grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: minmax(20vh, auto);
  gap: calc(var(--magicNumber) / 2);
  flex-direction: row;
  align-items: stretch;
}

.rightCol {
  width: 50%;
}

.dataVizMap,
.dataVizLine,
.dataVizTop {
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;

  // Style: add on element with overflow: https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.dataVizMap {
  position: relative;
  width: 50%;
  // max-height: 65.75vh;

}

.dataVizTop {
  background-color: var(--c-black);
  padding: calc(var(--magicNumber) * 1.5) calc(var(--magicNumber) / 2);
  margin-bottom: calc(var(--magicNumber) / 2);
  min-height: 50%;
  .vizTitle {
    position: absolute;
  }
  &:hover .vizTitle h3 {
    opacity: 1;
  }
}

.dataVizLine {
  background-color: var(--c-yellow);
  display: flex;
  padding: 0 calc(var(--magicNumber) / 4);
  position: relative;
  // max-height:calc(var(--magicNumber) * 4);
  .lineNumbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: calc(var(--magicNumber) / 4);
    padding-top: calc(var(--magicNumber) / 2);

    .numberWrapper {
      margin: 0 calc(var(--magicNumber) / 4);
    }
  }
  .lineGraph {
    // height: 80px;
    padding: calc(var(--magicNumber) / 2);
    // hover animation title show interaction
    &:hover .vizTitle h3 {
      opacity: 1;
    }
  }
}

.vizTitle {
  // position: absolute;
  top: calc(var(--magicNumber) / 2);
  left: calc(var(--magicNumber) / 2);
  margin-bottom: calc(var(--magicNumber) / 2);
  z-index: 5;
  h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    opacity: 0.4;
    transition: all 300ms ease-in-out;
  }
}

// CODE FROM BEFORE
.foo {
  color: yellow;
}

// All CSS below can be removed, just for keeping the page tidy while nothing is there

.grid {
  display: flex;
  //align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 1900px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #000000;
  background-color: rgba(0, 0, 0, .06);
  text-decoration: none;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: calc(var(--magicNumber) * 8);
  // this is a SASS implementation of CSS; aka nesting of classes
  &:hover {
    cursor: pointer;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}