.main {
  min-height: calc(100vh - var(--magicNumber));
  padding: calc(var(--magicNumber) / 2);
  margin: calc(var(--magicNumber) / 2);
  border-radius: var(--borderRadius);
  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--c-creme);
}

.description {
  margin: 4rem 0;
  line-height: 1.75;
  font-size: 1.2rem;
}

.code {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.rowInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: calc(var(--magicNumber) / 2);
}

.rowData {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--magicNumber);
  color: #000000;
  nav span {
    margin-right: calc(var(--magicNumber) / 6);
  }
}

.columnInfo,
.columnTitle {
  width: 50%;
}

.columnInfo {
  margin-left: calc(var(--magicNumber) / 2);
}

.header_sub{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  max-width: calc(var(--magicNumber) * 10);
}

.paragraph_long {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  // text-transform: lowercase;
  color: #000000;
  // max-width: calc(var(--magicNumber) * 20);
}

// Typography

.title,
.numbersBig {
  font-family: "Six Caps", sans-serif;
  font-size: clamp(48px, calc(48px + 8vw), 130px);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  color: #000000;
}

.numbersTag {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: calc(var(--magicNumber) / 10);
  color: #000000;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  max-width: calc(var(--magicNumber) * 10);
}

// Dataviz Components

.dataGrid {
  display: flex;
  // grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: minmax(20vh, auto);
  gap: calc(var(--magicNumber) / 2);
  flex-direction: row;
  align-items: stretch;
}

.rightCol {
  width: 50%;
}

.dataVizMap,
.dataVizLine,
.dataVizTop {
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;

  // Style: add on element with overflow: https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.dataVizMap {
  position: relative;
  width: 50%;
}

.dataVizTop {
  background-color: var(--c-black);
  padding: calc(var(--magicNumber) * 1.5) calc(var(--magicNumber) / 2);
  padding-bottom: calc(var(--magicNumber) / 2);
  // margin-bottom: calc(var(--magicNumber) / 2);
  // min-height: 40%;
  .vizTitle {
    position: absolute;
  }
  &:hover .vizTitle h3 {
    opacity: 1;
  }
}

// FROM DEEPDIVE FOR MONTHYL SRs BY SOURCE:
// .dataVizTop {
//   border-radius: var(--borderRadius);
//   background-color: rgba(0, 0, 0, 0.3);
//   position: relative;
//   overflow: hidden;

//   // Style: add on element with overflow: https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
//   -webkit-mask-image: -webkit-radial-gradient(white, black);
//   .vizTitle {
//     // position: absolute;
//     top: calc(var(--magicNumber) / 2);
//     left: calc(var(--magicNumber) / 2);
//     margin-bottom: calc(var(--magicNumber) / 2);
//     z-index: 5;
//     h3 {
//       font-size: 0.8rem;
//       font-weight: 300;
//       margin: 0;
//       text-transform: uppercase;
//       opacity: 0.4;
//       transition: all 300ms ease-in-out;
//     }
//   }
// }

.dataVizLine {
  background-color: var(--c-yellow);
  display: flex;
  position: relative;
  margin-top: calc(var(--magicNumber) / 4);
  .lineNumbers {
    display: flex;
    width: 100%;
    align-items: flex-end;

    .numberWrapper {
      padding-bottom: calc(var(--magicNumber) / 4);
      padding-top: calc(var(--magicNumber) / 2);
      padding-left: calc(var(--magicNumber) / 2);
      padding-right: calc(var(--magicNumber) / 2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);


      &:last-of-type {
        border-right: none;
        margin-right: 0;
      }
    }
  }
  .lineGraph {
    padding: calc(var(--magicNumber) / 2);
    // hover animation title show interaction
    &:hover .vizTitle h3 {
      opacity: 1;
    }
  }
}

.vizTitle {
  top: calc(var(--magicNumber) / 2);
  left: calc(var(--magicNumber) / 2);
  margin-bottom: calc(var(--magicNumber) / 2);
  z-index: 5;
  h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    opacity: 0.4;
    transition: all 300ms ease-in-out;
  }
}
