// add all classes for the intro page in CSS

.foo {
  color: pink;
}

// All CSS below can be removed, just for keeping the page tidy while nothing is there
.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - var(--magicNumber));
  padding: calc(var(--magicNumber) / 2);
  margin: calc(var(--magicNumber) / 2);
  border-radius: var(--borderRadius);
  min-height: calc(100vh - var(--magicNumber));
  padding: calc(var(--magicNumber) / 2);
  margin: calc(var(--magicNumber) / 2);
  border-radius: var(--borderRadius);
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #rgba(255, 255, 255, 0.08);
}

.description {
  margin: 4rem 0;
  line-height: 1.75;
  font-size: 1.2rem;
}

.code {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.rowInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: calc(var(--magicNumber) / 2);
}

.rowData {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--magicNumber);
  color: #000000;
  nav span {
    margin-right: calc(var(--magicNumber) / 6);
  background: #ffff;
  }
}

.dataGrid {
  display: flex;
  // grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: minmax(20vh, auto);
  gap: calc(var(--magicNumber) / 2);
  flex-direction: row;
  align-items: stretch;
}

.rightCol {
  width: 90%;
}

.columnInfo,
.columnTitle {
  width: 50%;
}

.columnInfo {
  margin-left: calc(var(--magicNumber) / 2);
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

// Typography
.title,
.numbersBig {
  font-family: "Six Caps", sans-serif;
  font-size: clamp(48px, calc(48px + 8vw), 130px);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  color: rgba(255, 255, 255, 0.319);
}


.title_sub {
  font-family: "Six Caps", sans-serif;
  font-size: clamp(48px, calc(48px + 8vw), 130px);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  color: var(--c-creme);
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffff;
  max-width: calc(var(--magicNumber) * 10);
}

.paragraph_sub {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: full-width;
  color: #ffff;
  max-width: calc(var(--magicNumber) * 20);
  padding: 5px;
}

.paragraph_credits {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.319);
  max-width: calc(var(--magicNumber) * 4);
  //padding: 5px;
  position: relative;
}

.header_sub{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffff;
  max-width: calc(var(--magicNumber) * 15);
}

.header_sub_main{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffff;
  max-width: calc(var(--magicNumber) * 10);
}

// .header_main_Top {
//   border-radius: var(--borderRadius);
//   padding: calc(calc(var(--magicNumber) / 2));
//   background-color:#000000;
//   position: relative;
//   overflow: hidden;
//   min-width:calc(var(--magicNumber) * 16);
//   min-height:calc(var(--magicNumber) * 20);


//   // Style: add on element with overflow: https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
//   -webkit-mask-image: -webkit-radial-gradient(white, black);
// }

.grid {
  display: flex;
  // align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 1900px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  // this is a SASS implementation of CSS; aka nesting of classes
  &:hover {
    cursor: pointer;
  }
}

.card_list {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: #ffff;
  //background: rgba(0,0,0, 0.06);
  text-decoration: none;
  //border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: calc(var(--magicNumber) * 5);
}

.card_process {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #ffff;
  background: rgba(0,0,0, 0.06);
  text-decoration: none;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: calc(var(--magicNumber) * 5);
  &:hover {
    cursor: pointer;
  }
}

.card_process:hover,
.card_process:focus,
.card_process:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}