// Add styles for the footer there

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 1.5rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer p {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 600px) {
  .footer {
    padding: 1.25rem 1.25rem calc(1.25rem + env(safe-area-inset-bottom));
  }

  .footer p {
    display: block;
    max-width: 34ch;
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
